<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Log</title>
    <link rel="stylesheet" href="/styles/expenses.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/scripts/general.js"></script>
</head>

<body>
    <div class="main">
        {{>navbar}}
        <div class="container">
            <div class="recent-expenses">
                {{#each recentExpenses}}
                <div class="expense-card">
                    <p><strong>Name:</strong> {{name}}</p>
                    <p><strong>Collection:</strong> {{collectionName}}</p>
                    <p><strong>Date:</strong> {{formatDate date}}</p>
                    <p><strong>Amount:</strong> {{amount}}</p>
                    <p><strong>Quantity:</strong> {{quantity}}</p>
                    <p><strong>Payment Method:</strong> {{paymentMethod}}</p>
                    </p>
                </div>
                {{/each}}
            </div>
            <header>
                <h1>Expenses</h1>
                <button id="add-expense-btn" class="btn">Add Expense</button>
                <button id="expense-filter-sort-btn" class="btn">Filter and Sort</button>
            </header>
            <section class="expenses">
                <table class="orders-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Collection</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Payment Method</th>
                        </tr>
                    </thead>
                    <tbody id="expenses-list">
                        {{#each expenses}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{collectionName}}</td>
                            <td>{{formatDate date}}</td>
                            <td>{{amount}}</td>
                            <td>{{quantity}}</td>
                            <td>{{paymentMethod}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <div class="pagination-container">
                <button id="prev-expense-button">Previous</button>
                <span id="expense-page-number">1</span>
                <span class="of-text">of</span>
                <span id="total-expense-pages">1</span>
                <button id="next-expense-button">Next</button>
            </div>
        </div>
    </div>
</body>

</html>


    