<button name="edit-details">
    <div class="user-card">
        <div class="picture">
            <img src="../assets/{{profilePicture}}" alt="Profile Picture" class="prof-pic">
        </div>
        <div class="details">
            <p id="name">{{firstName}} {{lastName}}</p>
            <p id="position">{{position}}</p>
            <p id="email">{{email}}</p>
            <p id="phone">{{phoneNumber}}</p>
        </div>
    </div>
</button>