
<div class="user-card">
    <div class="picture">
        <img src="../uploads/users/{{profilePicture}}" alt="Profile Picture" class="prof-pic">
    </div>
    <div class="details">
        <h2 id="name">{{firstName}} {{lastName}}</h2>
        <p id="role">{{role}}</p>
        <a id="email">{{email}}</a> 
    </div>
</div>